@font-face {
  font-family: 'Kode Mono';
  src: url('KodeMono-VariableFont_wght.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Bitcount';
  src: url('Bitcount-SemiBold.ttf') format('truetype');
}


:root{
/* FONTS */
--title-font: 'Bitcount', sans-serif;
--content-font: 'Kode Mono', monospace;

/* COLORS */
--green:#93cf4a;
--red:#d72f00;
--blue:#3c9dff;
--yellow:#ffd753;
--orange: #ff8f5c;
--white:#f6f6ff;

/* FONT SIZES */
--content-font-size-desktop: clamp(2rem,1.563vw,2.5rem);
--lessjumbo-title-font-size-desktop: clamp(5rem,13vw,18rem);
--title-font-size-desktop: clamp(5rem,4vw,10rem);

--lessjumbo-title-font-size-desktop1920: clamp(9rem,13vw,13rem);
/*title 1920 screen clamp(12rem,7.813vw,13rem) */

--content-font-size-laptop: clamp(1.75rem, 1.667vw,2.25rem);


--lessjumbo-title-font-size-laptop1440less: clamp(9rem,12vw,13rem);
--title-font-size-laptop1440less: clamp(2rem,4vw,4rem);
--content-font-size-laptop1440less: clamp(1.25rem, 1.667vw, 2rem);


--lessjumbo-title-font-size-laptop1024less: clamp(6rem,10.938vw,8rem);
--content-font-size-tablet1024less: clamp(1rem,2.344vw,1.5rem);

--lessjumbo-title-font-size-mobile500less:clamp(5rem,23vw,18rem);
--title-font-size-mobile500less:clamp(1rem,6vw,3rem);


--footer-font-size-desktop: clamp(1.5rem,1.063vw,1.8rem);
--footer-font-size-laptop: clamp(1.25rem,1.25vw,1.6rem);

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
touch-action: pan-y;
}

body{
  background:url(IllustrationPage/illustration-background.svg), url(Background.svg) repeat fixed center/cover;
  margin:0;
  padding:0;
  z-index: 1;
}


.one-page {
  width: 100%;
  height: 260vh;
  display: block;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(70, 1fr);
  z-index: 1;
}

.page-bracket{
  width:100%;
  height:30vh;
}

/* HEADER */
.header-mobile {
  display: none;
     width: 100vw;
    height: 4rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    flex-shrink: 0;
    position: fixed;
    z-index: 99;
    top: 0vh;
    position: fixed;
      backdrop-filter: blur(5px);
    padding-top:1%;
    border-bottom: dashed var(--red);



}

.header-mobile a {
  font-family: var(--content-font);
  font-size: var(--content-font-size-tablet1024less);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.header-mobile #Home-mobile, 
.header-mobile #Works-mobile {
  background-color: var(--blue);
  border: 3px solid var(--green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
  padding-left: 5%;
  padding-right: 5%;
}

.header-mobile #About-me-mobile {
  background-color: var(--red);
  border: 3px solid var(--green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  padding-left: 5%;
  padding-right: 5%;
}

.header{
  display: flex;
width: 18rem;
height: 14.8rem;
padding: 0 2rem;
flex-direction: column;
justify-content: center;
align-items: left;
gap: 10%;
flex-shrink: 0;
position:absolute;
z-index: 99;
top:50vh;
position: fixed;
}

.header a{
  font-family: var(--content-font);
  font-size: var(--content-font-size-desktop);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease;
  padding:0;
  margin: 0;
  text-decoration: none;
}

.header a:hover{
  transform: scale(1.1);
  color: var(--yellow);
  transition: transform 0.3s ease, color 0.3s ease;
}


.header #Home, .header #Works{
  background-color: var(--blue);
  border: 5px solid var(--green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding-left: 20%;
  padding-right: 20%;
}

.header #About-me{
  background-color: var(--red);
  border: 5px solid var(--green);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.header #drag-header{
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%) translateY(80%);
  cursor: grab;
}

/* FOOTER */
footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: var(--yellow);
  /* margin-top:5rem; */
  z-index: 11;
}

.footer-text{
  width:100%;
  height: fit-content;
  grid-row: 1/4;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-desktop);
  color: var(--red);
  padding:1%;
  margin:0;
  text-align: center;
  z-index:11;
  transform: translateY(0rem);
  background-color: var(--yellow);

}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-3rem);
  z-index: 10;
}

/* BG TEXTURE */
.texture{
  width:100vw;
  height:100vh;
  position: fixed;
  z-index: -2;
  mix-blend-mode: overlay;
}


/* TITLE */
h1{
  font-family: var(--title-font);
  font-size: var(--lessjumbo-title-font-size-desktop);
  text-decoration: underline dotted var(--blue);
  padding:0;
  margin:0;
  color: var(--red);
  top:1%;
  left:50vw;
  transform: translateX(-49%);
  position: relative;
  z-index: 1;
  text-align: center;
  width:90%;
}

.orange-span-title{
color:var(--orange)
}

.green-span-title{
color:var(--green)
}

.blue-span-title{
color:var(--blue)
}


/* SIDE PATTERN STYLING */
.side-pattern{
  display: block;
  position: fixed;
  width:20vw;
  gap:0;
  z-index: 12;
}

#left img{
  width:100%;
  transform: translateX(-70%) translateY(-10%);
}

#right img{
  width:100%;
  transform: translateX(470%) translateY(-10%);
}



/* CONTENT FLEX */
.tippy-box[data-animation='bigger'][data-state='hidden']{
  opacity:0;
  transform: scale(0,2);
}

.content-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50vw;
  position: absolute;
  left:50vw;
  transform: translateX(-50%);
  margin-top:8%;
  gap:15rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}

h2{
  font-family: var(--title-font);
  font-size: var(--title-font-size-desktop);
  color: var(--red);
  width:fit-content;
  text-align: center;
  margin:0;
  padding:1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--white);
  border: dashed 0.8rem var(--green);
  border-radius: 2rem;
}

.circle{
  width:30vw;
  height: 30vw;
  border-radius: 50rem;
  /* background-color: #d72f00; */
  cursor: pointer;
}

#ton-kho-image{
  background: url(CodeBoardComm/tonkho.PNG) center/cover;
  border: dashed 0.8rem var(--blue);
}

#updating{
  background: url(VideoPage/updating-video.png) center/cover;
  border: dashed 0.8rem var(--blue);
}

.button{
  width: fit-content;
  height: auto;
  font-family: var(--content-font);
  font-size: var(--content-font-size-tablet1024less);
  text-align: center;
  background-color: #d72f00;
  color:var(--white);
  padding:1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border: dashed 0.4rem var(--green);
  border-radius: 2rem;
  display: none;
  text-decoration: none;

}




/* 1920 WIDTH */
@media screen and (max-width: 1920px){
  /* .one-page {
  height: 110vh;
} */

  .header{
  width: 14.5rem;
}

.header a{
  font-size: var(--content-font-size-laptop);
}

.header #drag-header{
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%) translateY(70%);
  cursor: grab;
}

.footer-text{
  width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-laptop);
  color: var(--red);
  padding:1.7;
  margin:0;
  text-align: center;
  background-color:var(--yellow)
}

h1{
  font-size: var(--lessjumbo-title-font-size-desktop1920);
}

.circle{
  width:40vw;
  height: 40vw;
}

}

/* 1440 WIDTH */
@media screen and (max-width: 1440px){
  .one-page {
  height: 260vh;
}
  .header{
  width: 11rem;
}

.header a{
  font-size: var(--content-font-size-laptop1440less);
}

.header #drag-header{
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  cursor: grab;
}

.footer-text{
  width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-laptop1440less);
  color: var(--red);
  padding:1.7;
  margin:0;
  text-align: center;
  background-color:var(--yellow);
  z-index:11;
}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-2rem);
  z-index: 10;
}

h1{
  font-size: var(--lessjumbo-title-font-size-laptop1440less);
}

h2{
  font-size: var(--title-font-size-laptop1440less);
}

}

/* 1400 WIDTH */
@media screen and (max-width: 1400px){
  .one-page {
  height: 280vh;
}
   .header {
    display: none;
  }
  
  .header-mobile {
    display: flex;
 
  }

  .header-mobile a{
  font-size: var(--content-font-size-tablet1024less);
}

.header #drag-header{
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%) translateY(40%);
  cursor: grab;
}

.header #Home, #Works{
  border: 3px solid var(--green);
}

.header #About-me{
  border: 3px solid var(--green);
}

.footer-text{
  width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-tablet1024less);
  color: var(--red);
  padding:1.7;
  margin:0;
  text-align: center;
  background-color:var(--yellow);
  z-index:11;
}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-1.5rem);
  z-index:10;
}

.glitter{
  filter:blur(40px);
}

h1{
  top:10vh;
}

h2{
  font-size: var(--title-font-size-laptop1440less);
}

.content-flex{
  margin-top: 20%;
}

.button{
  display: block;
}

}

/* 1024 WIDTH */
@media screen and (max-width: 1024px) and  (orientation: landscape){
    /* .one-page {
  height: 670vh;
} */

  .header {
    display: none;
  }
  
  .header-mobile {
    display: flex;
 
  }

  .header #Home, #Works{
  border: 3px solid var(--green);
}

.header #About-me{
  border: 3px solid var(--green);
}

.footer-text{
  width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-tablet1024less);
  color: var(--red);
  padding:1.7;
  margin:0;
  text-align: center;
  background-color:var(--yellow);
  z-index:11;

}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-1.5rem);
  z-index:10;
}

h1{
  font-size: var(--lessjumbo-title-font-size-laptop1024less);
}


}

@media screen and (max-width: 1024px) and  (orientation: portrait){
    .one-page {
  height: 230vh;
}

    .header {
    display: none;
  }
  
  .header-mobile {
    display: flex;
  }

  .header-mobile a{
  font-size: var(--content-font-size-tablet1024less);
}

.header #Home, #Works{
  border: 3px solid var(--green);
}

.header #About-me{
  border: 3px solid var(--green);
}

.footer-text{
  width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-tablet1024less);
  color: var(--red);
  padding:1.7;
  margin:0;
  text-align: center;
  background-color:var(--yellow);
  z-index: 11;

}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-1.5rem);
  z-index: 10;
}


.glitter{
  filter:blur(30px);
}

h1{
  font-size: (--lessjumbo-title-font-size-laptop1440less);
  top:7vh;
}

h2{
  font-size: calc( var(--title-font-size-desktop) - 1rem);
  border: dashed 0.4rem var(--green);
}

.circle{
  width:70vw;
  height:70vw;
}

.side-pattern{
  display: none;
}

.content{
  gap:3rem;
}


}

@media screen and (max-width:800px) and (orientation: portrait){
  .one-page{
    height:250vh;
  }
  
  .content{
    gap:2rem;
  }
}


/* PHONE WIDTH */
@media screen and (max-width: 500px) and  (orientation: portrait){
.one-page {
  height: 200vh;
}


    .header {
    display: none;
  }
  
  .header-mobile {
    display: flex;
    justify-content: center;
    gap:clamp(1.5rem,1.5rem,1.8rem);
  }

  .header-mobile a{
  font-size: var(--content-font-size-tablet1024less);
  }

.header #Home, #Works{
  border: 3px solid var(--green);
 }

.header #About-me{
  border: 3px solid var(--green);
 }

 footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: var(--yellow);
  height:5vh;
  margin:0;
  z-index: 10;
}


.footer-text{
  width:100%;
  height:fit-content;
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-tablet1024less);
  color: var(--red);
  margin:0;
  text-align: center;
  background-color:var(--yellow);
  padding-bottom:2rem;
  padding-top: 1rem;
  z-index: 11;

}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-0.5rem);
  z-index: 10;
}

.glitter{
  filter:blur(40px);
  width:20vw;
  height: 20vw;
}

h1{
  font-size: var(--lessjumbo-title-font-size-mobile500less);
  top:10vh;
  padding-bottom: 20%;
  transform: translateX(-52%);
}

h2{
  font-size: var(--title-font-size-mobile500less);
  width:fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
}

#ton-kho-image,
#updating{
  border: dashed 8px var(--blue);
}

.button{
  padding:1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border: dashed 6px var(--green);
  border-radius: 1rem;
  display: block;
}
}

@media screen and (max-width: 375px) and  (orientation: portrait){
.one-page {
  height: 250vh;
}

    .header {
    display: none;
  }
  
  .header-mobile {
    display: flex;
    justify-content: center;
    gap:clamp(1.5rem,1.5rem,1.8rem);
  }

  .header-mobile a{
  font-size: var(--content-font-size-tablet1024less);
  }

.header #Home, #Works{
  border: 3px solid var(--green);
 }

.header #About-me{
  border: 3px solid var(--green);
 }

 footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: var(--yellow);
  height:2vh;
  margin:0;
  z-index: 10;
}


.footer-text{
  width:100%;
  height:fit-content;
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: var(--content-font);
  font-size: var(--footer-font-size-tablet1024less);
  color: var(--red);
  margin:0;
  text-align: center;
  background-color:var(--yellow);
  padding-bottom:2rem;
  padding-top: 1rem;
  z-index: 11;

}

.footer-decor{
    width:100%;
  height:auto;
  grid-row: 1/4;
  grid-column: 1/4;
  transform: translateY(-0.5rem);
  z-index: 10;
}


.glitter{
  filter:blur(30px);
}

h1{
  top:12vh;
}

}